@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 212 43% 19%; /* Blauw */

    --card: 0 0% 100%;
    --card-foreground: 212 43% 19%;

    --popover: 0 0% 100%;
    --popover-foreground: 212 43% 19%;

    --primary: 82 44% 47%; /* Groen */
    --primary-foreground: 0 0% 100%;

    --secondary: 73 11% 84%; /* Greige */
    --secondary-foreground: 212 43% 19%;

    --muted: 69 45% 91%; /* Licht greige */
    --muted-foreground: 216 14% 39%; /* Grijs */

    --accent: 56 81% 87%; /* Licht geel */
    --accent-foreground: 212 43% 19%;

    --destructive: 3 68% 47%; /* Rood */
    --destructive-foreground: 0 0% 100%;

    --border: 73 11% 84%;
    --input: 73 11% 84%;
    --ring: 82 44% 47%;

    --radius: 1rem;
    
    --success: 82 44% 47%;
    --warning: 56 81% 87%;
    --recording: 3 68% 47%;
    
    --sidebar-background: 69 45% 91%;
    --sidebar-foreground: 212 43% 19%;
    --sidebar-primary: 82 44% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 56 81% 87%;
    --sidebar-accent-foreground: 212 43% 19%;
    --sidebar-border: 73 11% 84%;
    --sidebar-ring: 82 44% 47%;
  }

  .dark {
    --background: 212 43% 10%;
    --foreground: 69 45% 91%;
    --card: 212 43% 13%;
    --card-foreground: 69 45% 91%;
    --popover: 212 43% 13%;
    --popover-foreground: 69 45% 91%;
    --primary: 82 44% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 43% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 212 43% 25%;
    --muted-foreground: 216 14% 60%;
    --accent: 82 44% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 3 68% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 212 43% 25%;
    --input: 212 43% 25%;
    --ring: 82 44% 47%;
    --sidebar-background: 212 43% 13%;
    --sidebar-foreground: 69 45% 91%;
    --sidebar-primary: 82 44% 47%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 212 43% 25%;
    --sidebar-accent-foreground: 69 45% 91%;
    --sidebar-border: 212 43% 25%;
    --sidebar-ring: 82 44% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}